body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
a{
  text-decoration: none;
  color: #63b7af;

}
a:hover{
  color:white;
}
h1{
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 80px;
  color: #63b7af;
}
h2{
  color: #63b7af;
}
h3{
  color: #63b7af;
}
.clr{
  color: #63b7af;
}
.skill1{
  width: 50%;
  margin: 70px auto 100px auto;
  text-align: left;
}
.skill2{
  width: 50%;
  margin: 70px auto 100px auto;
  text-align: right;
}
.starter{

  margin: 0 auto 0 auto;
  margin-top: 0;
  background-color: #d4f3ef;
  height: 500px;
  padding-top: 90px;
  width:auto;
}
.middle{
  background-color: white;
  height: auto;
  padding-top: 50px;
  margin-bottom: 100px;
  width:auto;
}
.bottom{
  background-color: #d4f3ef;
  height: 120px;
  width:auto;
  line-height: 1.5;
}
.top{
  background-color: #d4f3ef;
  display: flex;
  width:auto;

}
.topim{
  width: 100px;
  height:100px;
  border-radius: 50%;

}
.art{
  width: 500px;
  margin: 50px auto 40px auto;

  line-height: 2;

}
.design{
  padding-right: 300px;
}
.topimg{

  margin: 60px 0 0 200px;
  display: inline-block;
  float: left;
}
.what{
  padding-top: 50px;
}
.about{

  margin: 90px 0 0 600px;

  display: inline-block;
  float: left;
  font-size: 20px;


}
.contact{
  margin: 90px 0 0 50px;
     float: left;
  display: inline-block;
  font-size: 20px;

  }
.note{
    margin: 90px 0 0 50px;

     float: left;
    display: inline-block;
    font-size: 20px;
    }
.midim{
      width: 100px;
      height:100px;
      border-radius: 40%;
    }
.midmim{
      width: 120px;
      height:120px;
      border-radius: 40%;
      float: left;
      padding-left: 100px;
    }
.art1{
      line-height: 1.5;
    padding-left: 350px;
    }
.midmim1{
    width: 120px;
    height:120px;
    border-radius: 40%;
    float: right;
    padding-right: 100px;
}

.art2{
    line-height: 1.5;
    padding-right: 350px;

}
.help{

  line-height: 1.5;
  
  margin: 50px auto 40px auto
  width:600px;
}

.myButton {
  margin-top: 20px;
	box-shadow: 0px 4px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:14px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:bold;
	padding:11px 56px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
.bot{
  margin-top: 10px;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 20px;
}
.clor{
color: #63b7af;
font-size: 20px;
line-height: 1.5;
}
